     h1 {
            text-align: center;
            font-size:25;
            background-color: #1e00ff;
            }
            #Gary {
                width: 10px;
            }
            .bogmonster {
            margin-left: 350px;
            margin-right: 350px;
            margin-top: 20px;
            font-size: 30px;
            background-color: #713ad5;
            }
            .nav {
                margin-bottom: 30px;
            }
            body {
                background-color: #de3bed;
            }
              
    